{% extends "base.html" %}

{% block title %}Accueil - Hôpital Central{% endblock %}

{% block content %}
<div class="home-page">
    <div class="home-background">
        <div class="home-overlay">
            <div class="home-content">
                <h1 class="home-title">Bienvenue à l'Hôpital Central</h1>
                <p class="home-description">
                    NOTRE SERVICE EST DE METTRE EN PLACE UN SYSTÈME DE RAPPEL AUTOMATIQUE DE NOS PATIENTS
                    DANS UN CADRE MODERNE ET ACCUEILLANT. NOS ÉQUIPES DÉVOUÉES SONT À VOTRE SERVICE
                    24h/24 POUR ASSURER VOTRE BIEN-ÊTRE.
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}
